/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("./assets/fonts/CentraNo2-Bold.ttf");
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: Centra;
  src: url("./assets/fonts/CentraNo2-Medium.ttf");
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: Centra;
  src: url("./assets/fonts/CentraNo2-Book.ttf");
  font-weight: 400;
  font-display: block;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-family: "Centra", sans-serif !important;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: #fff !important;
  background-color: #191919 !important;
  background-image: url("./assets/imgs/backgroung.svg");
  background-position: top center;
  background-repeat: repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/************ Navbar Css ************/
nav.navbar {
  padding: 22px 0;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 10px 0;
  background-color: #121212;
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 20px;
  opacity: 0.7;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  font-weight: 600 !important;
  opacity: 1;
}

nav.navbar .navbar-collapse {
  justify-content: flex-start;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

nav.navbar .navbar-toggler {
  border: none;
  padding-top: 5%;
  padding-right: auto;
  margin: 0;
  outline: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.banner {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 100px 10px;
}

.banner .container {
  display: flex;
  justify-content: center;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner .jobs {
  font-weight: 700;
  letter-spacing: 0.8px;
  font-size: 42px;
  margin-bottom: 8px;
  display: inline-block;
}
.banner .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.banner h1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 5px;
}

.banner p {
  color: #f1f1f1;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
}

.banner button svg {
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  color: #c7c6c6;
  margin-bottom: 15px;
}

.banner .img-container {
  width: 60vw;
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #c7c6c6;
}

.scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
}

.grid-no {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: start;
  width: fit-content !important;
}
.grid-no div {
  text-align: left;
  margin: 5px 0;
  padding: 0 20px;
}

@media (max-width: 480px) {
  /* make a grid of two columns without affecting the original size*/
  .grid-no {
    grid-template-columns: minmax(170px, 1fr) minmax(170px, 1fr);
  }
  .skill-bx h2 {
    padding: 0 20px;
    padding-bottom: 40px;
  }
}

.skill {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0 0 50px 0;
  position: relative;
}

.skill .container {
  display: flex;
  justify-content: center;
}
.skill-bx {
  background-color: #121212;
  border-radius: 48px;
  padding: 40px 40px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.skill h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 40px;
}

.skill-container {
  display: flex;
  align-items: center;
  margin-right: 200px;
}

.skill-container p {
  color: #f1f1f1;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  text-align: left;
  margin-left: 5px;
  margin-bottom: 0;
  padding: 5px 0px;
}

.skill-container img {
  height: 26px;
  width: 26px;
}

.resume {
  background: #121212;
  padding: 40px 0 0px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.resume h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 10px;
}

.resume li,
.resume p {
  color: #f1f1f1;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.resume .achievements-list {
  list-style-type: square;
}
.resume .achievements-list ul {
  text-align: justify;
}
.resume .achievements-list li {
  padding-bottom: 5px;
}

.resume .tabs {
  background-color: #121212;
  color: #f1f1f1;
  font-weight: 800;
  font-size: 20px;
  margin-top: 20px;
}

.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #fff !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 6px #c7c6c6 !important;
}

.resume .tab-content {
  margin-top: 20px;
}
.resume .download-cv {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
  justify-content: right;
}
.resume .download-cv button {
  background-color: transparent;
  border: 2px solid;
  border-color: #f1f1f1;
  border-radius: 7px;
  padding: 10px 10px;
  font-size: 16px;
  letter-spacing: 0.8px;
}
.resume .download-cv button:hover {
  background-color: #c7c6c6;
  color: #121212;
}
.resume .download-cv span {
  margin-left: 5px;
  color: #f1f1f1;
  font-weight: 410;
  text-decoration: none;
}
.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.quote-text {
  font-style: italic;
}
.quote-text p {
  margin: 10px 0 0 0;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  float: right;
}
.quote-author {
  text-align: right;
  float: right;
}
.resume ul {
  text-align: justify;
}
.experience-container p {
  margin-bottom: 0;
}
.experience-company p {
  color: #c7c6c6;
  margin-bottom: 10px;
}
.experience-information,
.education-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}
.experience-information .date,
.education-information .date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.experience-information p {
  font-weight: 600;
  width: fit-content;
}
.experience-information .date p {
  color: #fff;
  font-weight: 500;
  text-align: right;
}
.education-company p {
  color: #c7c6c6;
}
.education-information p {
  font-weight: 600;
  width: fit-content;
}
.education-information .date p {
  color: #fff;
  font-weight: 500;
  text-align: right;
}
hr.rounded {
  border-top: 2px solid #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.projects {
  background: #121212;
  padding: 40px 0 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.newsletter-bx {
  background: #f1f1f1;
  border-radius: 55px;
  color: #121212;
  padding: 50px;
  margin-bottom: 20px;
  margin-top: -140px;
  display: flex;
  align-items: center;
  width: 100%;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.email-img {
  width: 30px;
  height: 30px;
}
.email-text {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 500;
}
.email-button {
  background-color: transparent;
  border: 2px solid;
  border-color: #121212;
  border-radius: 7px;
  padding: 10px 15px;
  font-size: 16px;
  letter-spacing: 0.8px;
}
.email-button:hover {
  background-color: #c7c6c6;
  color: #f1f1f1;
  opacity: 0.7;
}

.carousel {
  padding-bottom: 20px;
  display: flex !important;
  justify-content: space-between !important;
}
.carousel-inner {
  display: flex !important;
  justify-content: space-between !important;
}

.carousel-item,
.carousel-item.active {
  width: 100% !important;
  height: 100% !important;
  flex-direction: column !important;
  padding: 0px 32px !important;
}

.carousel-control-prev {
  justify-content: left !important;
  width: fit-content !important;
}

.carousel-control-next {
  justify-content: right !important;
  width: fit-content !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.item-fade {
  animation: fade-in 1.5s;
}

.project-container {
  position: relative;
  padding: 30px 20px;
  height: fit-content;
}

.projects h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 10px;
}

.projects .project-title p {
  font-weight: 600;
  font-size: 20px;
}

.projects li,
.projects p {
  color: #f1f1f1;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}


.projects .project-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.projects .project-container .project-description .row {
  display: flex;
  align-items: center;
}

.projects .project-description .text ul {
  text-align: justify;
}

.projects .project-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .project-img img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-width: 250px;
}

.social {
  padding: 0;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.social li {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  padding: 0;
}

.social li a {
  color: #fff;
}

.social li a:hover {
  color: #c7c6c6;
}

.footer {
  padding: 0 0 50px 0;
  background: #121212;
}

.footer p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.footer img {
  width: 26%;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #c7c6c6;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.footer-complete {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.footer-add {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.white-bg {
  border-radius: 20%;
  background: #fff;
}

@media (max-height: 670px) {
  .banner h1 {
    font-size: 36px;
  }
  .banner .jobs {
    font-size: 28px;
  }
}

/* Small screens */
@media (max-height: 760px)  {
  .banner .img-container {
    display: none;
  }
}

@media (max-width: 650px) {
  div {
    display: grid;
  }
  .banner h1 {
    font-size: 38px;
    position: relative;
    text-align: justify;
    width: 100%;
  }
  .banner .jobs {
    font-size: 28px;
    position: relative;
  }
  .banner p {
    width: 100%;
    font-size: 16px;
  }
  .resume p {
    font-size: 16px;
  }
  .resume li {
    font-size: 16px;
  }
  .skill h2 {
    font-size: 28px;
    font-weight: 600;
  }
  .resume h2 {
    font-size: 28px;
    font-weight: 600;
  }
  .projects h2 {
    font-size: 28px;
    font-weight: 600;
  }
  .skill-bx {
    padding: 20px 0;
  }
  .skill-container p {
    font-size: 17px;
  }
  .skill-container img {
    width: 20px;
    height: 20px;
  }
  .resume .tab-content {
    margin-top: 5px;
  }
  .banner .circle {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
  }
  .banner .circle img {
    position: relative;
    margin: 0 auto;
    top: 20px;
    right: 10px;
    transform: scale(1.3);
  }
  .banner .social {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .email-button {
    margin-top: 15px;
  }
  .contact h3 {
    text-align: left;
  }
  .contact h4 {
    text-align: justify;
  }
  .resume .tabs {
    background-color: #121212;
    color: #f1f1f1;
    font-weight: 800;
    font-size: 16px;
  }
  .nav-tabs .nav-link.active {
    border-bottom: solid 4px #c7c6c6 !important;
  }
  .resume .download-cv {
    justify-content: space-evenly;
  }
  .resume .download-cv button {
    margin-right: 0px;
  }
  .footer-complete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer-add div {
    margin-top: 40px;
  }
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}
